.container {
  padding: 150px 50px;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  height: 900px;
}

.container h1 {
  padding: 15px !important;
  font-weight: 500;
  font-family: system-ui;
  font-size: 30px;
}

.container form {
  margin-top: 30px;
}

input,
textarea {
  border-radius: 5px !important;
}
input {
  height: 40px !important;
}

hr {
  margin: 15px !important;
}

.send {
  background-color: #21b963 !important;
  width: 100%;
  border: none !important;
  outline: none;
  border-radius: 5px !important;
  height: 40px !important;
}

.close {
  font-size: 20px;
  color: black;
  cursor: pointer;
  text-align: end;
  position: relative;
  left: 50px;
}
