.container {
  position: fixed;
  z-index: 2;
  justify-content: start;
  height: 55px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px !important;
}

.container img {
  margin-left: 10%;
}

.container li {
  margin-left: 3vw !important;
}
.logout {
  background-color: white;
  width: 5%;
  margin-left: 10%;
  vertical-align: middle !important;
  border: white;
  font-weight: bolder;
  font-size: 18px;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  outline: none;
  transition: 0.5s ease !important;
}
.logout:hover {
  border-bottom: 1px solid black;

  transition: 0.5s ease !important;
}
