.orderCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.cardBug {
  width: 350px;
  margin: 13px;
  box-shadow: -2px 2px 0px 0px #dfdfdf;
  border-radius: 10px;
}

.card {
  width: 350px;
  margin: 13px;
  box-shadow: -2px 2px 0px 0px #dfdfdf;
  border-radius: 10px;
}

.card:hover {
  box-shadow: -2px 2px 10px 0.5px #888787a4;
  transform: scale(1.01);
  transition: 0.45s ease;
}

.cardBug:hover {
  box-shadow: -1px 1px 10px 0.5px #888787a4;
  transform: scale(1.01);
  transition: 0.45s ease;
}

.card div:nth-child(2) {
  padding: 15px;
}

.cardBug div:nth-child(2) {
  padding: 15px;
}
.date {
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;
  color: grey;
}

.cardBug div:nth-child(1) {
  font-size: 25px;
  color: #f54f52;
}

.card div:nth-child(1) {
  font-size: 25px;
  color: #21b963;
}

.votesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  font-size: 18px;
}

.votesContainer p {
  margin: 0;
  background-color: #ced5d6;
  padding: 5px;
  width: 45%;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
}

.votesContainer button {
  margin: 0;
  background-color: #3294f1;
  padding: 5px;
  width: 45%;
  text-align: center;
  border-radius: 7px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.vote:hover {
  background-color: #1f65a7;
  transform: scale(1.02);
  transition: 0.5s ease;
}

.vote:active {
  background-color: #489dec;
  transform: scale(0.95);
}

/* :::::: TOGGLE :::::: */

.cardToggle {
  width: 350px;
  margin: 13px;
  box-shadow: -2px 2px 0px 0px #dfdfdf;
  border-radius: 10px;
}

.orderCardContainerToggle {
  display: flex;
  flex-direction: column;

  margin-bottom: 35px;
}

.cardBugToggle {
  width: 350px;
  margin: 13px;
  box-shadow: -2px 2px 0px 0px #dfdfdf;
  border-radius: 10px;
}

.orderCardContainerToggle div:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-between;
}
.orderCardContainerToggle div:nth-child(1) {
  display: flex;
  flex-direction: row;
  flex: 1.2;
  margin-left: 10px;
}

.orderCardContainerToggle .date {
  display: flex;
  align-items: center;
  margin: 0;
}

.orderCardContainerToggle .votesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 18px;
  width: 60%;
}

.orderCardContainerToggle .cardBug:hover {
  background-color: rgba(255, 255, 255, 0.719);
  transform: none;
  box-shadow: -2px 2px 0px 0px #d1d1d1;
  transition: 0.2s ease-in;
}
.orderCardContainerToggle .card:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: none;
  box-shadow: -2px 2px 0px 0px #d1d1d1;
  transition: 0.2s ease-in;
}

.disabled {
  background-color: transparent !important;
  color: grey !important;
  cursor: default !important;
  border: transparent !important;
  outline: none !important;
}
